nav.navbar.navbar-default {
    margin-bottom: 0;
  }
  
  nav {
    height: 100px;
    background-color: rgb(19, 47, 85);
    color: white;
    font-size: 50px;
    font-weight: bold;
    display: block;
  }

  .searchContainer {
    width: 100%;
  }

  .navbar {
    display: block;
  }
